# !*.*
# !Makefile
# !makefile
# !qt_src/
# !src/
# !test/
# !include/
build-qt_src*Debug/*
.*

*.txt
*.o
*.autosave
*.user
*.jpg
*.out*
.stash
test/*

!test/*.cpp
!test/*.hpp

!build-qt_src-Release/*.out